
@use 'variables' as v;

@mixin breakpoint($bp) {
    @if $bp == tablet {
        @media (min-width: v.$bp-tablet) {              // 768px
            @content;
        }
    }

    @else if $bp == tablethorizontal {
        @media (min-width: v.$bp-tablet-horizontal) {   // 1024px
            @content;
        }
    }

    @else if $bp == desktop {
        @media (min-width: v.$bp-desktop) {             // 1200px
            @content;
        }
    }

    @else if $bp == desktopxl {
        @media (min-width: v.$bp-desktop-xl) {          // 1440px
            @content;
        }
    }

    @else {
        @error "El breakpoint `#{$bp}` no existe.";
    }
}

@mixin button(
    $bg: v.$black,
    $color: white,
    $padding: 12px 24px,
    $radius: 28px,
    $font-weight: 700,
    $font-size: 16px,
    $line-height: 28px,

    $hover-bg: v.$blue,
    $hover-color: white
) {
    display: inline-block;
    background: $bg;
    color: $color;
    padding: $padding;
    border-radius: $radius;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;

    &:hover {
        background: $hover-bg;
        color: $hover-color;
    }
}




