
// colors
$blue:#666CA3;
$black: #13183F;
$grey: #83869A;
$pink: #F74780;
$pink-light: #FFA7C3;

$gradient-orange-pink: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%); 
$gradient-blue-pink: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%); 
$gradient-orange-pink-hover: linear-gradient(#FFFFFF80, #FFFFFF80), $gradient-orange-pink;
$gradient-blue-pink-hover: linear-gradient(#FFFFFF80, #FFFFFF80), $gradient-blue-pink;

$gradient-white-grey: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);


// fonts
$primary-font: 'Plus Jakarta Sans', sans-serif;

// responsive
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;



